.row
	.span6.offset1
		%h2= @cliente.nombre
.row
	.span6.offset2
	
		%strong
			Nombre 
		=@cliente.nombre
		%br
		%strong
			Orden
		=@cliente.orden
		%strong
			Habilitado
		=@cliente.habilitado
		%br
		%strong
			Ver
		= link_to cliente_path(@cliente), @cliente
		%br
			%strong
				Editar
			= link_to edit_cliente_path(@cliente), edit_cliente_path(@cliente)
%br
.row
	.span6.offset2
		= link_to "Escritorio", escritorio_path, :class => "btn btn-danger"

