.content
	.hero-unit
		%h2
			Sistema de Administraci&oacute;n del Laboratorio de Azucarlito
		%p
			Este es el sistema de administraci&oacute;n del trabajo diario del laboratorio de Azucarlito.
			%br
			En el mismo usted podr&aacute; controlar el trabajo desarrollado por la fabrica.
	=render '/layouts/footer'
