.row-fluid
  .span12
    %form{ :id => 'form-pedido-produccion', :class => 'form-horizontal',:action => pedido_produccions_path(@dia.pedido_produccion), :method => 'POST'}
      #pedido-produccion
        = render 'fields'
= render '/layouts/footer'
