#title_bar
	#titlebar
		%span.breadcrumb
			= link_to 'Escritorio', escritorio_path
			%span.breadcrumb_sep /
		%h2#page_title= @title
	#titlebar_right

#active_admin_content.with_sidebar
	#main_content_wrapper
		#main_content
			%p
				Esta pagina muestra informacion sobre como contactar a los programadores.


