.row-fluid
	.span12
		= form_for @produccionMasa, :html => { :class => "form-horizontal", :id => 'form-produccion-masas' } do  |f|
			= render 'fields', :f => f, :boton => "Crear"
= render '/layouts/footer'
