.content
	.row
		.span16
			= form_for @insumoDiario,:validate => true, :html => { :class => "customer", :id => "customer_new" } do  |f|
				= render 'fields', :f => f, :boton => "Crear"
	= render '/layouts/footer'
