%table.table
  %thead
    %tr
      %th
        Numero Masas A
      %th
        Numero Masas B
      %th
        Numero Masas C
      %th
        Numero Masas D
  %tbody
    %tr
      %td
        = produccionMasa.numero_masas_a
      %td
        = produccionMasa.numero_masas_b
      %td
        = produccionMasa.numero_masas_c
      %td
        = produccionMasa.numero_masas_d
