%table.table
  %thead
    %tr
      %th
        Nombre
      %th
        Valor
  %tbody
    %tr
      %td
        Numero Masas A
      %td
        = produccionMasa.numero_masas_a
    %tr
      %td
        Numero Masas B
      %td
        = produccionMasa.numero_masas_b
    %tr
      %td
        Numero Masas C
      %td
        = produccionMasa.numero_masas_c
    %tr
      %td
        Numero Masas D
      %td
        = produccionMasa.numero_masas_d
