%table.table
  %thead
    %tr
      %th
        Nombre

      %th
        Valor
  %tbody
    %tr
      %td
        Azucar Crudo Kg.
      %td
        = recepcion.azucar_crudo
    %tr
      %td
        Polarizacion
      %td
        = recepcion.polarizacion
    %tr
      %td
        Perdida en Azucar
      %td
        = recepcion.perdida_en_azucar
    %tr
      %td
        Azucar en Melaza Kg.
      %td
        = recepcion.azucar_en_melaza
