%table.table
  %thead
    %tr
      %th
        Azucar Crudo Kg.
      %th
        Polarizacion
      %th
        Perdida en azucar
      %th
        Azucar en Melaza Kg.
  %tbody
    %tr
      %td
        = recepcion.azucar_crudo
      %td
        = recepcion.polarizacion
      %td
        = recepcion.perdida_en_azucar
      %td
        = recepcion.azucar_en_melaza
