%fieldset
	%legend=@title
	.row
		%input{ :type => "hidden", :value => "#{@dia.fecha}", :name => "[dia][fecha]"}
		%input{ :type => "hidden", :value => "#{form_authenticity_token}", :name => "authenticity_token"}
		-@dia.turnos.each do |turno|
			=render 'turnos', :turno => turno
.actions
	%input{ :type => 'submit', :class => "btn large primary", :value => 'Confirmar'}
	= link_to 'Cancelar', escritorio_path(), :class => "btn large error"
