%tr
	%td AGUA MADRE
	%td
	%td
		.control-group
			.input
				= f.text_field :agua_madre_brix, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :agua_madre_pol, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :agua_madre_pza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :agua_madre_ph, :class => 'input-small'
	%td
	%td
	%td
	%td
	%td







