%tr
	%td AZUCAR A
	%td
	%td
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_a_color, :class => 'input-small', "data-name" => 'azucar_a_color'
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_a_humedad, :class => 'input-small', "data-name" => 'azucar_a_humedad'







