%tr
	%td AZUCAR B
	%td
	%td
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_b_color, :class => 'input-small', "data-name" => 'azucar_b_color'
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_b_humedad, :class => 'input-small', "data-name" => 'azucar_b_humedad'







