%tr
	%td AZUCAR D
	%td
	%td
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_d_color, :class => 'input-small', "data-name" => 'azucar_d_color'
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :azucar_d_humedad, :class => 'input-small', "data-name" => 'azucar_d_humedad'







