%tr
	%td ENCALADO
	%td
		.control-group
			.input
				= f.text_field :encalado_be, :class => 'input-small'
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :encalado_ph, :class => 'input-small'
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :encalado_alcal, :class => 'input-small'

	%td








