%tr
	%td ENCALADO
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :encalado_ph, :class => 'input-small', "data-name" => 'encalado_ph'
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :encalado_alcal, :class => 'input-small', "data-name" => 'encalado_alcal'

	%td
