%tr
	%td JUGO CARBONATADO
	%td
	%td
	%td
	%td
		.control-group
			.input
				= f.text_field :jugo_carbonatado_ph, :class => 'input-small', "data-name" => 'jugo_carbonatado_ph'
	%td
	%td
	%td
	%td
	%td
