%tr
	%td MASA COCIDA C
	%td
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_c_brix, :class => 'input-small', "data-name" => 'masa_cocida_c_brix'
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_c_pol, :class => 'input-small', "data-name" => 'masa_cocida_c_pol'
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_c_pza, :class => 'input-small', "data-name" => 'masa_cocida_c_pza'
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_c_ph, :class => 'input-small', "data-name" => 'masa_cocida_c_ph'
	%td
	%td
	%td
	%td
	%td







