%tr
	%td MASA COCIDA B
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_b_brix, :class => 'input-small', "data-name" => 'masa_cocida_b_brix'
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_b_pol, :class => 'input-small', "data-name" => 'masa_cocida_b_pol'
	%td
		.control-group
			.input
				= f.hidden_field :masa_cocida_b_pza, :class => 'input-small', "data-name" => 'masa_cocida_b_pza'
				%span#masa_cocida_b_pza.pza
					=@analisis.masa_cocida_b_pza
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_b_ph, :class => 'input-small', "data-name" => 'masa_cocida_b_ph'
	%td
	%td
	%td
	%td
	%td
