%tr
	%td MASA COCIDA C
	%td
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_c_brix, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_c_pol, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_c_pza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_c_ph, :class => 'input-small'
	%td
	%td
	%td
	%td
	%td







