%tr
	%td MASA AFINADA 1
	%td
	%td
		.control-group
			.input
				= f.text_field :masa_afinada_1_brix, :class => 'input-small', "data-name" => 'masa_afinada_1_brix'
	%td
		.control-group
			.input
				= f.text_field :masa_afinada_1_pol, :class => 'input-small', "data-name" => 'masa_afinada_1_pol'
	%td
		.control-group
			.input
				= f.text_field :masa_afinada_1_pza, :class => 'input-small', "data-name" => 'masa_afinada_1_pza'
	%td
		.control-group
			.input
				= f.text_field :masa_afinada_1_ph, :class => 'input-small', "data-name" => 'masa_afinada_1_ph'
	%td
	%td
	%td
	%td
	%td







