%tr
	%td MASA COCIDA D
	%td
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_d_brix, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_d_pol, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_d_pza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :masa_cocida_d_ph, :class => 'input-small'
	%td
	%td
	%td
	%td
	%td







