%tr
	%td MIEL E
	%td
	%td
		.control-group
			.input
				= f.text_field :miel_e_brix, :class => 'input-small', "data-name" => 'miel_e_brix'
	%td
		.control-group
			.input
				= f.text_field :miel_e_pol, :class => 'input-small', "data-name" => 'miel_e_pol'
	%td
		.control-group
			.input
				= f.hidden_field :miel_e_pza, :class => 'input-small', "data-name" => 'miel_e_pza'
				%span#miel_e_pza.pza
					=@analisis.miel_e_pza
	%td
		.control-group
			.input
				= f.text_field :miel_e_ph, :class => 'input-small', "data-name" => 'miel_e_ph'
	%td
	%td
	%td
	%td
	%td







