%tr
	%td MIEL D
	%td
	%td
		.control-group
			.input
				= f.text_field :miel_d_brix, :class => 'input-small', "data-name" => 'miel_d_brix'
	%td
		.control-group
			.input
				= f.text_field :miel_d_pol, :class => 'input-small', "data-name" => 'miel_d_pol'
	%td
		.control-group
			.input
				= f.hidden_field :miel_d_pza, :class => 'input-small', "data-name" => 'miel_d_pza'
				%span#miel_d_pza.pza
					=@analisis.miel_d_pza
	%td
		.control-group
			.input
				= f.text_field :miel_d_ph, :class => 'input-small', "data-name" => 'miel_d_ph'
	%td
	%td
	%td
	%td
	%td







