%tr
	%td MIEL B
	%td
	%td
		.control-group
			.input
				= f.text_field :miel_b_brix, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :miel_b_pol, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :miel_b_pza, :class => 'input-small'
	%td
		.control-group
			.input
				= f.text_field :miel_b_ph, :class => 'input-small'
	%td
	%td
	%td
	%td
	%td







