%tr
	%td MIEL AFINADA 1
	%td
		.control-group
			.input
				= f.text_field :miel_afinada_1_brix, :class => 'input-small', "data-name" => 'miel_afinada_1_brix'
	%td
		.control-group
			.input
				= f.text_field :miel_afinada_1_pol, :class => 'input-small', "data-name" => 'miel_afinada_1_pol'
	%td
		.control-group
			.input
				= f.hidden_field :miel_afinada_1_pza, :class => 'input-small', "data-name" => 'miel_afinada_1_pza'
				%span#miel_afinada_1_pza.pza
					=@analisis.miel_afinada_1_pza
	%td
		.control-group
			.input
				= f.text_field :miel_afinada_1_ph, :class => 'input-small', "data-name" => 'miel_afinada_1_ph'
	%td
	%td
	%td
	%td
	%td
