- if @usuario.errors.any?
	%div#explicacion_errores.error
		%h2.prepend-4= "#{t(:error, :count => object.errors.count)} que se guardara este #{object.class.to_s.underscore.humanize.downcase}"
		%p.prepend-4 Hay errores con los siguientes campos:
		%ul.prepend-5
			- @usuario.errors.full_messages.each do |msg|
				%li=msg
