- if @usuario.errors.any?
	.alert-message.block-message.error
		%a.close x
		%h3
			%strong= "#{t(:error, :count => object.errors.count)} que se guardara este #{object.class.to_s.underscore.humanize.downcase}"
		%p Hay errores con los siguientes campos:
		%ul
			- @usuario.errors.full_messages.each do |msg|
				%li=msg
