.pagination{:style => "margin-bottom:5px;"}
	= will_paginate(zafras, :renderer => PaginationListLinkRenderer)

%table#table-zafras.table.table-striped
	%thead
		%tr
			%th Dia Inicio
			%th Dia fin
			%th Estado
			%th Acciones
	%tbody
		- @zafras.each do |zafra|
			%tr.odd
				= render 'zafra', :zafra => zafra
%nav.pagination
	= will_paginate(zafras, :renderer => PaginationListLinkRenderer)
