.row-fluid
  .span12
    %form{ :id => 'form-dia', :class => 'form-horizontal',:action => actualizar_dia_path(@dia), :method => 'POST'}
      = render 'fields', :boton => "Actualizar"

= render '/layouts/footer'
