.content
	.row.span18
		%h1 Turnos del dia
		%ul#turnos.nav
			%li
				- tipo = 'btn'
				= link_to "Insumos Por turno", crear_insumo_path(@dia.fecha), :class => "#{tipo} large"
	= render '/layouts/footer'
