.sidebar
	.well
		%h1= @title
		%h5 Acciones
		%ul.pills
			%li
				= link_to "Ir a Dia Actual", crearusuario_path

.content
	.hero-unit
		%h2
			Escritorio de trabajo del usuario
	.row
		.span18
			%h2 Calendario de actividad
			= render 'dias'
	=render 'layouts/footer'
