%h2 
	Actividades del administrador

%p.prepend-1
	= link_to "Crear Usuario", crearusuario_path, :class => "round boton orange"
	= link_to "Trabajar con Usuarios", usuarios_path, :class => "round boton orange"
