.sidebar
	.well
		%h1= @title
		%h5 Acciones
		%ul.pills
			%li
				= link_to "Ir a Dia Actual", ver_dia_path(Date.today)

.content
	.hero-unit
		%h2
			Escritorio de trabajo del usuario
	.row
		.span17
			%h2 Calendario de actividad
			= render 'dias'
		.span4
			%table.span4
				%thead
					%tr
						%th.span1
							Color
						%th
							Significado
				%tbody
					%tr
						%td.abierto.span1
							&nbsp;
						%td
							Turno Abierto
					%tr
						%td.cerrado.span1
							&nbsp;
						%td
							Turno Cerrado
					%tr
						%td.anulado.span1
							&nbsp;
						%td
							Turno Anulado
					%tr
						%td.sinAbrir.span1
							&nbsp;
						%td
							Turno Sin Abrir
	=render 'layouts/footer'
