.pagination{:style => "margin-bottom:5px;"}
	= will_paginate(usuarios, :renderer => PaginationListLinkRenderer)

%table#table-usuarios.table.table-striped
	%thead
		%tr
			%th.yellow.header Email
			%th.green.header Nombre
			%th Acciones
	%tbody
		- @usuarios.each do |usuario|
			%tr.odd
				= render 'usuario', :usuario => usuario
%nav.pagination
	= will_paginate(usuarios, :renderer => PaginationListLinkRenderer)
