
.sidebar
	.well
		%h1= @title
		%h5 Acciones
		= link_to "Crear Usuario", crearusuario_path, :class => "btn large info"
.content
	.hero-unit
		= render 'index-filters'
	.row
		.span16
			= render 'index-content-table', :usuarios => @usuarios
	=render '/layouts/footer'

