

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

#tabla-analisis th {
	background-color: #2C2C2C;
	background-image: -webkit-linear-gradient(top, #333, #222);
	background-repeat: repeat-x;
	color:white;
	height:25px;
}

#tabla-analisis {
	position:relative;
	top:40px;
	margin-bottom:50px;
}


#tabla-analisis td, #tabla-analisis th {
	width:120px !important;
	padding-left:10px !important;
	padding-right:0 !important;
}

#tabla-analisis input {
	margin-top:5px;
	width:75px !important;
	margin-left:10px !important;
}

#tabla-analisis tr {
	border-bottom:solid 1px lightgrey;
}


#ingresar {
	margin-top:-7px !important;
}

.primero {
	padding-top:10px !important;
}

.breadcrumb {
	padding-left: 20px;
}

.hero-unit {
	padding:5px;
	margin-bottom:5px;
}

form {
	margin-bottom:0 !important;
}

label {
	margin-right:4px;
}

.abierto {
	background: #330099;
}

.cerrado {
	background: #006600;
}

.anulado {
	background: #FFFFFF;
}

.zafra_vieja {
	background: #B80000;
}

.zafra {
	background: #FF9933;
}

.sinAbrir{
	background: #CCCCCC;
}

#turnos {
	padding-left:40px;
}

#turnos li {
	margin-right: 10px;
}


.invicible {
	display:none;
}

input.error {
	border-color: #E9322D !important;
	color: #B94A48 !important;
	-webkit-box-shadow: 0 0 6px #f8b9b7 !important;
	-moz-box-shadow: 0 0 6px #f8b9b7 !important;
	box-shadow: 0 0 6px #f8b9b7 !important;
}


input.success {
	border-color: #458845 !important;
	-webkit-box-shadow: 0 0 6px #9acc9a !important;
	-moz-box-shadow: 0 0 6px #9acc9a !important;
	box-shadow: 0 0 6px #9acc9a !important;
	color: #468847 !important;
}

.mensajes {
	color: #B94A48 !important;
}
