.pagination{:style => "margin-bottom:5px;"}
	= will_paginate(actividades, :renderer => PaginationListLinkRenderer)
	
%table#table-actividades.zebra-striped
	%thead
		%tr
			%th.yellow.header Usuario
			%th.green.header Controlador
			%th.green.header Accion
			%th.blue.header Fecha
			%th Acciones
	%tbody
		- actividades.each do |actividad|
			%tr
				= render '/actividades/actividad', :actividad => actividad

.pagination{:style => "margin-bottom:5px;"}
	= will_paginate(actividades, :renderer => PaginationListLinkRenderer)
