%table#table-actividades.table.table-striped
	%thead
		%tr
			%th.yellow.header Usuario
			%th.blue.header Fecha
			%th.green.header Controlador
			%th.green.header Accion
	%tbody
		- actividades.each do |actividad|
			%tr
				= render '/actividades/actividad', :actividad => actividad

