.row-fluid
	.span1
		&nbsp;
	.span6
		%h2= @actividad.usuario_email
.row-fluid
	.span2
		&nbsp;
	.span6
		%strong
			Fecha
		= l @actividad.created_at
		%br
		%strong
			Controlador 
		=@actividad.controlador
		%br
		%strong
			Accion 
		=@actividad.accion
		%br
		%strong
			Parametros 
		=@actividad.parametros

%br
.row-fluid
	.span2
		&nbsp;
	.span6
		= link_to "Escritorio", escritorio_path, :class => "btn error"
