- unless flash.nil?
	- if flash[:notice] and flash[:error].nil?
		.alert{ 'data-alert' => 'alert'}
			%a.close{ :href => '#', "data-dismiss" => "alert"} x
			%strong= flash[:notice]
	- if flash[:error]
		.alert.alert-error{ 'data-alert' => 'alert'}
			%a.close{ :href => '#', "data-dismiss" => "alert"} x
			%strong
				= flash[:error]
	- if flash[:success] and flash[:error].nil?
		.alert.alert-success{ 'data-alert' => 'alert'}
			%a.close{ :href => '#', "data-dismiss" => "alert"} x
			%strong
				= flash[:success]
	- if flash[:warning] and flash[:error].nil?
		.alert.alert-warning{ 'data-alert' => 'alert'}
			%a.close{ :href => '#',"data-dismiss" => "alert"} x
			%strong
				= flash[:warning]


