- unless flash.nil?
	- if flash[:notice] and flash[:error].nil?
		.alert-message.info{ 'data-alert' => 'alert'}
			%a.close{ :href => '#'} x
			%p
				%strong= flash[:notice]
	- if flash[:error]
		.alert-message.error{ 'data-alert' => 'alert'}
			%a.close{ :href => '#'} x
			%p
				%strong
					= flash[:error]
	- if flash[:success] and flash[:error].nil?
		.alert-message.success{ 'data-alert' => 'alert'}
			%a.close{ :href => '#'} x
			%p
				%strong
					= flash[:success]
	- if flash[:warning] and flash[:error].nil?
		.alert-message.warning{ 'data-alert' => 'alert'}
			%a.close{ :href => '#'} x
			%p
				%strong
					= flash[:warning]


