<footer class="span-24">
  <hr />
  <nav class="round orange">
    <ul>
      <li><%= link_to "Acerca de", acerca_path %></li>
      <li><%= link_to "Contactar", contacto_path %></li>
      <li><a href="http://zonical.net/cv">Nicol&aacute;s Zuasti</a></li>
      <li><a href="http://zonical.net/">Valentina Mele</a></li>
    </ul>
  </nav>
</footer>
