%footer.span-24
	%hr
	%nav.round.orange
		%ul
			%li= link_to "Acerca de", acerca_path
			%li= link_to "Contactar", contacto_path
			%li 
				%a{ :href => "http://zonical.net/cv" } Nicol&aacute;s Zuasti
			%li 
				%a{ :href => "http://zonical.net/" } Valentina Mele

