<header>
	<h1><%= titulo %></h1>
	<nav class="round orange">
	  <ul>
	    <li><%= link_to "Inicio", root_path %></li>
	    <li><%= link_to "Ayuda", ayuda_path %></li>
	    <li><%= link_to "Ingresar", '#' %></li>
	  </ul>
	</nav>
</header>
